Repository zbigniewzolnierowicz/deepdi.sh: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlx-prepare-check, eslint

sqlx-prepare-check:
  name: '[BACKEND] Checking if SQLx queries are cached'
  entry: task db:check
  language: system
  pass_filenames: false

eslint:
  name: '[FRONTEND] Running ESLint'
  language: system
  pass_filenames: false
  entry: task fe:lint:fix

add ingredient display
  frontend/app/components/centered.tsx
  frontend/app/components/ingredients/diets.tsx
  frontend/app/components/recipe/ingredientList.tsx
  frontend/app/icons/carrot.tsx
  frontend/app/icons/check.svg
  frontend/app/icons/cup.svg
  frontend/app/icons/cup.tsx
  frontend/app/icons/deny.svg
  frontend/app/icons/index.ts
  frontend/app/icons/info.svg
  frontend/app/icons/info.tsx
  frontend/app/icons/scales.svg
  frontend/app/icons/scales.tsx
  frontend/app/icons/spoon.svg
  frontend/app/icons/spoon.tsx
  frontend/app/root.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/recipe.$id/route.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tailwind.config.ts
  frontend/vite.config.ts
Due: eslint

hook up frontend to backend
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/recipe.$id/route.tsx
Due: eslint

add list of all recipes
  frontend/app/components/headings.tsx
  frontend/app/components/recipe/recipe.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient._index/route.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint

add ingredient editing
  frontend/.npmrc
  frontend/app/components/centered.tsx
  frontend/app/components/editor.tsx
  frontend/app/components/headings.tsx
  frontend/app/components/ingredients/diets.tsx
  frontend/app/components/recipe/ingredientList.tsx
  frontend/app/components/recipe/recipe.tsx
  frontend/app/icons/edit.svg
  frontend/app/root.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient._index/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/app/routes/recipe.$id/route.tsx
  frontend/app/utils/convertSecondsToDuration.tsx
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint

make editor better
  Taskfile.yaml
  frontend/app/components/editor.tsx
  frontend/app/components/editor/index.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint

add custom react renderer
  frontend/app/components/editor/index.tsx
  frontend/app/components/editor/renderReact.tsx
  frontend/app/components/editor/settings.tsx
  frontend/app/components/headings.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
Due: eslint

extract editing border
  frontend/app/components/headings.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/app/utils/classes.tsx
  frontend/app/utils/polymorphicProps.ts
Due: eslint

fix sql
  .taskfiles/Backend/Taskfile.yaml
  README.md
  backend/tests/setup/mod.rs
Due: sqlx-prepare-check

make ingredient details and creation page similar
  frontend/app/routes/ingredient.create/route.tsx
Due: eslint

frontend improvements
  .taskfiles/Frontend/Taskfile.yaml
  frontend/app/components/editor/index.tsx
  frontend/app/components/editor/renderPlaintext.tsx
  frontend/app/components/editor/renderReact.tsx
  frontend/app/components/form/checkbox.tsx
  frontend/app/components/form/label.tsx
  frontend/app/icons/edit.svg
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/app/utils/makeTitle.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint

fix diet_friendly being incorrect
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/app/utils/makeTitle.ts
Due: eslint

add aliases to install task
  .taskfiles/Frontend/Taskfile.yaml
Due: none

reorganize and add toasts for making an ingredient
  frontend/app/components/editor/index.tsx
  frontend/app/components/ingredients/dietList.tsx
  frontend/app/components/ingredients/diets.tsx
  frontend/app/components/recipe/ingredientList.tsx
  frontend/app/icons/check.svg
  frontend/app/icons/deny.svg
  frontend/app/root.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint

restyle submit button
  frontend/app/routes/ingredient.create/route.tsx
Due: eslint

add top bar scaffolding
  frontend/app/components/topBar.tsx
  frontend/app/root.tsx
  frontend/app/utils/types.ts
Due: eslint

set meta for routes
  frontend/app/routes/ingredient._index/route.tsx
  frontend/app/routes/recipe.$id/route.tsx
Due: eslint

add navbar
  frontend/app/components/topBar.tsx
  frontend/app/root.tsx
  frontend/app/routes/_index.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/tailwind.css
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: eslint

add some common tasks to taskfile
  .taskfiles/Backend/Taskfile.yaml
  .taskfiles/Frontend/Taskfile.yaml
  Cargo.lock
  Taskfile.yaml
Due: none

migrate back to legacy config
  frontend/.eslintrc.cjs
  frontend/eslint.config.mjs
Due: eslint

add common linting
  .taskfiles/Backend/Taskfile.yaml
  Taskfile.yaml
  backend/src/api/routes/ingredients/delete_ingredient.rs
  backend/src/api/routes/ingredients/mod.rs
  backend/src/api/routes/recipes/create_recipe.rs
  backend/src/domain/commands/ingredients/mod.rs
  backend/src/domain/queries/ingredients/get_all/mod.rs
  backend/src/domain/queries/ingredients/get_by_id/tests/__tests__.rs
  backend/src/domain/repositories/ingredients/errors/delete.rs
  backend/tests/ingredients/mod.rs
  frontend/.eslintrc.cjs
  frontend/app/components/editor/renderPlaintext.tsx
  frontend/app/components/editor/renderReact.tsx
  frontend/app/components/form/label.tsx
  frontend/app/components/headings.tsx
Due: sqlx-prepare-check, eslint

start making recipe routes
  frontend/app/routes/recipe._index/route.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: eslint

add steps
  .pre-commit-config.yaml
  Taskfile.yaml
  frontend/.eslintrc.cjs
  frontend/app/components/editor/index.tsx
  frontend/app/components/editor/renderPlaintext.tsx
  frontend/app/components/form/error.tsx
  frontend/app/components/form/label.tsx
  frontend/app/routes/ingredient._index/route.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: eslint

fix various issues
  backend/Cargo.toml
  backend/src/domain/commands/recipes/ingredients/add/mod.rs
  backend/src/domain/commands/recipes/ingredients/update/mod.rs
  frontend/app/components/editor/utils.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: sqlx-prepare-check, eslint

implement adding recipes
  .sqlx/query-0deb019e225cef4287f56c7c1b43de2f58f4a1ad34689daa5ca63f37a43b9bb5.json
  .sqlx/query-c0dc752fb30ce2930118b99b9fef6e9145e82467cbd1288554b05a3b4b59c9b1.json
  .sqlx/query-eadca99b158a637ee681c071f5aacc0232e20cb2e76f9e31bb7b13fea2abd05e.json
  backend/migrations/20240505104419_add_recipes.up.sql
  backend/src/api/routes/recipes/create_recipe.rs
  backend/src/domain/entities/recipe/mod.rs
  frontend/app/routes/recipe.create/route.tsx
Due: sqlx-prepare-check, eslint

correct recipe display
  frontend/app/components/recipe/recipe.tsx
Due: eslint

add error handling in recipe creation
  frontend/app/components/button/index.tsx
  frontend/app/components/recipe/recipe.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: eslint

add servings
  README.md
  frontend/app/components/button/dashed.tsx
  frontend/app/components/button/icon.tsx
  frontend/app/components/form/input.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: eslint

adjust import linting
  frontend/.eslintrc.cjs
  frontend/app/components/editor/index.tsx
  frontend/app/components/editor/renderReact.tsx
  frontend/app/components/form/input.tsx
  frontend/app/components/form/label.tsx
  frontend/app/components/headings.tsx
  frontend/app/components/ingredients/dietList.tsx
  frontend/app/components/recipe/ingredientList.tsx
  frontend/app/components/recipe/recipe.tsx
  frontend/app/root.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/ingredient._index/route.tsx
  frontend/app/routes/ingredient.create/route.tsx
  frontend/app/routes/recipe.$id/route.tsx
  frontend/app/routes/recipe._index/route.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: eslint

rely more on mise for installing tooling
  .mise.toml
  Taskfile.yaml
Due: none

add duration input
  .pre-commit-config.yaml
  frontend/app/routes/recipe.create/DurationInput.tsx
  frontend/app/routes/recipe.create/route.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint

add mprocs
  .gitignore
  .mise.toml
  Taskfile.yaml
  mprocs.yaml
Due: none

add telemetry
  frontend/app/entry.client.tsx
  frontend/app/entry.server.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/telemetry.client.ts
  frontend/app/telemetry.server.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: eslint

ZED-13 replace Jaeger with Grafana & co.
  .gitignore
  .mise.toml
  Caddyfile
  Taskfile.yaml
  compose.yaml
  frontend/app/telemetry.client.ts
  frontend/app/telemetry.server.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  grafana-datasources.yaml
  mprocs.yaml
  otel-collector.yaml
  prometheus.yaml
  tempo.yaml
Due: eslint

ZED-50 add custom json extractor
  Cargo.lock
  backend/Cargo.toml
  backend/src/api/errors/api.rs
  backend/src/api/errors/mod.rs
  backend/src/api/extract/json.rs
  backend/src/api/extract/mod.rs
  backend/src/api/mod.rs
  backend/src/api/routes/ingredients/all_ingredients.rs
  backend/src/api/routes/ingredients/create_ingredient.rs
  backend/src/api/routes/ingredients/delete_ingredient.rs
  backend/src/api/routes/ingredients/get_ingredient_by_id.rs
  backend/src/api/routes/ingredients/update_ingredient.rs
  backend/src/api/routes/recipes/add_ingredient_to_recipe.rs
  backend/src/api/routes/recipes/create_recipe.rs
  backend/src/api/routes/recipes/delete_ingredient_from_recipe.rs
  backend/src/api/routes/recipes/delete_recipe.rs
  backend/src/api/routes/recipes/get_recipe_by_id.rs
  backend/src/api/routes/recipes/update_ingredient_in_recipe.rs
  backend/src/api/routes/recipes/update_recipe.rs
Due: sqlx-prepare-check

ZED-43 add timestamps for recipes
  .sqlx/query-1fea74be2dc836ef5b36425c962d9adb448997a310d33c112188bf1c7c5fb5c7.json
  .sqlx/query-9dd649e3ded57064453e50bf43432d1d9345b71bd9ec3cb6c5f454e74ea1705b.json
  .sqlx/query-a98c0f180edaf17b84c75a3ff101c7b23f071503e58d404cd12771d90a664101.json
  .taskfiles/Backend/Taskfile.yaml
  .taskfiles/Database/Taskfile.yaml
  .vscode/launch.json
  Taskfile.yaml
  backend/migrations/20240930205457_timestamps-recipe.down.sql
  backend/migrations/20240930205457_timestamps-recipe.up.sql
  backend/queries/recipes/get_recipe.sql
  backend/queries/recipes/update_recipe_timestamps.sql
  backend/src/domain/commands/recipes/create/mod.rs
  backend/src/domain/commands/recipes/update/tests/__tests__.rs
  backend/src/domain/entities/recipe/mod.rs
  backend/src/domain/queries/recipes/get_by_id/tests/__tests__.rs
  backend/src/domain/repositories/recipe/in_memory.rs
  backend/src/domain/repositories/recipe/postgres.rs
  backend/src/test_utils.rs
  common/bindings/RecipeDTO.ts
  common/src/recipes.rs
Due: sqlx-prepare-check

ZED-43 add timestamps to frontend
  .mise.toml
  .taskfiles/Services/Taskfile.yaml
  Taskfile.yaml
  backend/src/api/mod.rs
  common/bindings/CreateRecipeDTO.ts
  common/bindings/RecipeDTO.ts
  common/bindings/UpdateRecipeDTO.ts
  common/src/recipes.rs
  frontend/app/components/editor/utils.tsx
  frontend/app/components/headings.tsx
  frontend/app/components/recipe/recipe.tsx
  frontend/app/routes/ingredient.$id/route.tsx
  frontend/app/routes/recipe.create/DurationInput.tsx
  frontend/app/routes/recipe.create/route.tsx
Due: sqlx-prepare-check, eslint

ZED-20 switch to BTreeMap
  backend/src/domain/entities/recipe/mod.rs
  common/src/recipes.rs
Due: sqlx-prepare-check

Path conditions:
  sqlx-prepare-check: any of: ^backend/(.*)
  eslint: any of: ^frontend/(.*)
